script(src='~/jquery/dist/jquery.min.js')
script(src='~/bootstrap/dist/js/bootstrap.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.11.1/slimselect.min.js")
script(src='../js/main.js')
script(src='https://cdn.jsdelivr.net/npm/flatpickr')
script(src='~/flatpickr/dist/l10n/pt.js')
script(src='~/mobius1-selectr/src/selectr.js')

