mixin searchResults()
  .card.l-letter-xl
    .container-card
      //Título do conteúdo
      h4 
        b Comissão da Desburocratização ouvirá especialistas em execução fiscal 
      
      // Data e tipo de conteúdo
      p.normalis 03/11/2016
        span.l-pillar-xl
          img(src="../img/materia_icon.png")
          |  Matéria
  
  .card.l-letter-xl  
    .container-card
      h4
        b Comissão discute nesta terça proposta de Lei Geral da Desburocratização
      p.normalis 03/11/2016
        span.l-pillar-xl
          img(src="../img/video_icon.png")
          |  Vídeo
  
  .card.l-letter-xl 
    .container-card
      h4
        b Comissão da Desburocratização conclui proposta que altera Código Tributário Nacional
      p.normalis 03/11/2016
        span.l-pillar-xl
          img(src="../img/audio_icon.png")
          |  Áudio