mixin tags()
    option(value='1') Comissão de Meio Ambiente
    option(value='2') Conflitos no Campo
    option(value='3') Frigorífico
    option(value='4') Irlanda
    option(value='5') Israel
    option(value='6') Universidade de Brasília
    option(value='7') 30 anos de Constituição
    option(value='8') ANA
    option(value='9') ANM
    option(value='10') ANP
    option(value='11') ANS
    option(value='12') ANTT
    option(value='13') Abert
    option(value='14') Abin
    option(value='15') Aborto
    option(value='16') Abuso de Autoridade
    option(value='17') Abuso Sexual
    option(value='18') Acessibilidade
    option(value='19') Acordo Ortográfico
    option(value='20') Acordo Transpacífico
    option(value='21') Acordo de Leniência









